.publishNameWarning {
  color: red;
  font-size: 14px;
  white-space: pre;
}

.publishStatusText {
  color: green;
  font-size: 13px;
  white-space: pre-wrap;
}

.homeworkName {
  padding-top: 1px;
}

.hrHidden {
  margin: 0px;
  visibility: hidden;
}

.hrDisplay {
  color: rgb(230, 230, 230);
}

.disclaimer {
  font-size: 11.5px;
}
