.publishNameWarning {
  color: red;
  font-size: 14px;
  white-space: pre;
}

.publishStatusTextGreen {
  color: green;
  font-size: 13px;
  white-space: pre-wrap;
}

.publishStatusTextRed {
  color: red;
  font-size: 13px;
  white-space: pre-wrap;
}

.homeworkName {
  padding-top: 1px;
  margin-bottom: 10px;
}


.disclaimer {
  font-size: 11.5px;
}

.topnav-link {
  font-size: 11.5px;
}