/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.forPlaceHolder::placeholder { color: #BBB; }

.navbar {
  padding: 0;
  margin-bottom: 8px;
}

.NavCol {
  padding: 0;
}

#importButton {
  margin-top: 10px;
}

#autoAGBrand {
  margin-left: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.navbar .nav-item .nav-link {
  /* color:rgba(0, 0, 0, 0.6); */
  /* margin:20px; */

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.navbar .nav-item .nav-link:not(.githubNav):hover {
  border: 1px solid #7AC78C;
  border-radius: 4px;
  padding: 7px;
  background-color: #E5F4E9;
  color:rgba(0, 0, 0, 0.8);
}

.bg-light {
  background-color: rgba(0,0,0,0.05) !important;
}

.navbar-light .navbar-brand {
  padding: 8px;
  font-size: 1.15rem;
  border-radius: 10px;
}

.navbar-light .navbar-brand:before {
  content: "";
  display: block;

  /* gray icon 27X27 */
  /* convert tools https://cloudconvert.com/anything-to-ico
  https://yoksel.github.io/url-encoder/ */
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 640 640' width='27' height='27'%3E%3Cdefs%3E%3Cpath d='M640 320C640 496.61 496.61 640 320 640C143.39 640 0 496.61 0 320C0 143.39 143.39 0 320 0C496.61 0 640 143.39 640 320Z' id='f4FyuntQJS'%3E%3C/path%3E%3Cpath d='M448.36 256.72L576.72 513.45L319.99 513.45L63.28 513.45L191.63 256.72L319.99 0L448.36 256.72Z' id='h7HJDs2kc'%3E%3C/path%3E%3Cpath d='M500.06 181.61L285.54 585.03L214.91 547.48L429.42 144.05L500.06 181.61Z' id='f20Z1Foewl'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23f4FyuntQJS' opacity='1' fill='%23333333' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23h7HJDs2kc' opacity='1' fill='%23fefcfc' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23f20Z1Foewl' opacity='1' fill='%23333333' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  width: 27px;
  height: 27px;
  float: left;
  margin: 0 8px 0 0;
  /* position: absolute; */
}
.navbar-light .navbar-brand:hover {
  color: #FDB515 !important;
  background-color: #003262;
}

.navbar-light .navbar-brand:hover::before {
  /* blue-yellow icon 27X27 */
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid meet' viewBox='0 0 640 640' width='27' height='27'%3E%3Cdefs%3E%3Cpath d='M640 320C640 496.61 496.61 640 320 640C143.39 640 0 496.61 0 320C0 143.39 143.39 0 320 0C496.61 0 640 143.39 640 320Z' id='l45chBmaUT'%3E%3C/path%3E%3Cpath d='M446.07 257.32L572.13 509.45L319.99 509.45L67.87 509.45L193.92 257.32L319.99 5.19L446.07 257.32Z' id='d7WEpVkyh2'%3E%3C/path%3E%3Cpath d='M488.56 218.09L303.42 566.28L221.54 522.74L406.68 174.55L488.56 218.09Z' id='g37NDM6JOt'%3E%3C/path%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cuse xlink:href='%23l45chBmaUT' opacity='1' fill='%23fdb515' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23d7WEpVkyh2' opacity='1' fill='%23003262' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3Cg%3E%3Cuse xlink:href='%23g37NDM6JOt' opacity='1' fill='%23fdb515' fill-opacity='1'%3E%3C/use%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.CalTooltip > .tooltip-inner{
  color: #003262;
  background-color: #FDB515;
  font-weight:700;
}

/* .bs-tooltip-right .arrow::before {
  border-right-color: #FDB515;
} */

#rightArrowSVG {
  margin-top: 5px;
}
#rightArrowPath{
  fill: #DDD;

}
.CalTooltip > .arrow::before {
  border-right-color: #FDB515;
}
label {
  color:black;
}
.testHeader {
  width:100%;
  display:block;
  text-align: left;
  padding-left: 20px !important;
  border-top-left-radius: 25px;
}
/* .testHeader:focus {
  outline: none !important;
} */
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none !important;
    box-shadow: none !important;
}

.topNav {
  border-top: 3px solid #409A56;
  border-bottom: 1px solid #F1F1F1;
  background-color: #F8F8F8 !important;
}
.btn-secondary {
  color: #409A56;
  padding: 2px;
  background-color: #E5F4E9;
  border: 2px solid #E5F4E9;
}


.btn-secondary:hover {
  color: #409A56;
  background-color: #E5F4E9;
  border: 2px solid #7AC78C;
}
.btn-secondary:active,
.btn-secondary:target,
.btn-secondary.active {
  color: #409A56 !important;
  background-color: #E5F4E9 !important;
  border: 2px solid #7AC78C !important;
}

.formTestCase {

  margin-top: 15px;
  margin-bottom: 15px;
}
.testCaseBody {
  padding: 15px;
  border-left: 4px solid #E5F4E9;
  /* padding-top: 0; */
}
form {
  margin-left: 15px;
}
